* {
    box-sizing: border-box;
  }
  body {
    font-family: Tahoma, Arial;
    background-color: #EEE;
  }
header {
  width: 90%;
  max-width: 800px;
  display: flex;
  margin: 5px auto;
  border: solid 2px #3b3232;
  padding: 5px 20px;
}
header .name {
  flex: 1;
}
header .wrong-tries {
  flex: 1;
  text-align: end;
}
.game-section {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.game-section img {
  width:20%;
  max-width: 145px;
  margin:2px;
  padding: 5px;
  border: solid 2px #3b3232;
  transition-duration: 0.2s;
}
.game-section img:hover {
  padding: 2px;
  filter: brightness(0.7);
}